<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>xX76Q28LU4AvaG3eHPbCO4bzYLyl6UnbcyFJsJAx0lrrYPmXxt4JZjwfvAMDQXM7MpFz/s8ir6t/zcKviflqa8bLHY2Moyv6jbchF8kNjy/Qukau8EhmM/uowtdk1ofzh0T9p9QjKwMcOwinG2L9S3RY/Gm1zFCpaBEPyIY0vBenBXsoH3efcukgnHrfesU0wA3QoMKdM3ilvHQ78Z2ZeHYU7JtRXFFr/cDGs8uya0BJT1LrtTlBqPi8rv2hB9mFSfD7fFCgjlVOcYXCcpXZ05rtzEPRvxPViVmH0ixC8ex/5KOoL+BrPwR2NO1PPsE0yM4hqHtMbJbR5byV59WZTA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>S9HjpjLdQUaqpcQT57k4Ill2mwoy5lLgg3eYWioCWH7G1QJFRxX+m0yXaHlYEX4ID9dzdKPDJb+OhWAOmCuyEagVDESyHPy3zGlIVeZ0m3eqMqsJwnojXesLRb4MiMrrwvjvRc4a+NPn5z5HooqUxfmocgeKe3pjllniP09gmF35BkkKOLN9ILXUsTMuQGaPBAgQcLKDF8kF6MoSY1HHHCOr8RjG2QwfkZO6s9+ddIhTfGLlSYTJPNiup6Kdk98pfJ98/iVhcRcCb4BXUT0ZEY87LxOzVmUCRTgqOn/InPJRBr/4X4gyVoH5PD5cCXVsCBx31wTYxmXXrbC+IqgyB1cV68utxybZ3LAoUZsj4T9dEUDbZa7LNiC1sP4zfgmWLPdtJAsN6BXRRJqDASLNf9mujmikIbxc2BmyoF821C5kUbrTA7NIXaLgE7fw5y1R95xY534pUCj1WL+p7b0yhY/kNPhNNkWJ6nV1AocHGI0pxX9L/C4KlQIUB5rnfKkkOFdf6NCiQRgrRiVM0JUsXVVWIq8MC1fE/k1FBbHisucExTDw2f9i7xH/JNvmQhbHrFvqiLG0W6WMuYoZG3bl8AeAD1b3bh2ZL5ous/sUAfQB1q1iHemlsJ3J5X+MgDe0Z8RRqWM5ZovBXpLnruG4FvSFTwETZ76QVaLrmm5O484ppmR5EfwFDqr7T/BV9o4r7ug8Cj7hsnk=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Send_Sms_Limit" value="20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test_Sms" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FP_EMAIL_API__URL" value="http://172.31.126.37:9000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisConnectionString" value="r-3ns10cea37457624.redis.rds.aliyuncs.com,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.42:5672/fiiipay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>