<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>fVpqpQiH8UbdgGIdMpQwYAdwI+qv7sVq/3cbNf+8H2MyFHz+8bCvt528XjfCH055/kc5Zw7mJ2PtbrNG7xVqLfdZbh1Ml+U6dGlZqq295CsjtgohkEerPMuERzaqhagQejQ6pKSSYd3ySC6dbDkHvdOZeIVegTCrn2rrDwWSCMggb45BaZRDam+u3hLUKJvImTq4z4OM2Jb+nRu1jWVy7yR5dujaP7Nu21WK8IVyopDWKFyQKWOLPneJwpvS8MsZMx58QBhS3vu7M5fE/p2v9aHKZsUA2mIKfdoo7fctHMf0YvYTg5IDPqiQO5618li2DFNNC4lNtN5M6xiRA4+VJA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>pT31RJdwIw7GP/VOJniCtjmpkFkhAY+k8RLtFbwEehYg7Z8WsmR3bC/r9Dfw5+dPahSPFmWQr9YMG6PhHQA/e8WNuK3wwdyvus2EL6LBrr803ep8ncj/qXCfyfqo2Zf+5oWGClYcMPqr+xdZQ96SFDTHhJRVuzgOqJjLqqARk6GbOac5ahz9jtlJPw9klLy4xAP9WI4BS9MbyX3VVaVA7j83RZfDnEoumz0Zb1Dg37rW+aGmi1jMID7RUIO1ocd8eoxZZWZuy8pMbFk06UR3yEIcegmAwfUaiFxamfcWY9C1X9S2jRnYpfQt3JHGcPUzcSDfeu1K0OlMBN6QLkGAiMWUWnogkwrW4VPIcQj32vRvyJeKZWFHEDwSx+NYYZW6Ne47vRP2HvKfvdK8PiWK7kTPFYaSpR4vN/haF1WQ2QPE2dq59VoBA30FHW01Pj80jDP/QyTSOQd4cUrU3WTpbvGwEs+UrK3d1Fn5NJUkbKOSxAnGu+lMuPEmOzBVd/rGRT0/uACG/bXrZX9izlFNs2aSXpwhyJzvEnrGHF5+k/yJ/q+kmRTiC5r+Yw9ojRQvUAGRuiN2MnrvdN8160ExzTEBERI4KV/LWQSblY4iswmDp1lJ53jQ7fY0tYgEaHvkBvJkzJXWznXbcN5L5t62CyDGDYyqIunVAVLBWmohBVkZcnVqnnp1ieCopQx1TV1xzpLgpB+RPUE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Send_Sms_Limit" value="20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test_Sms" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test_Email" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="JpushTag" value="Fiiipos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsProduction" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisConnectionString" value="r-3ns10cea37457624.redis.rds.aliyuncs.com,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_URL" value="http://172.31.126.40:8023" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_SecretKey" value="nHf29ryC31hQXrzsSjM7bDYs8v7AT8n54tl3nHBrpB1TM9HhXJ48hOpQrzy9XrQB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoDBConnectionString" value="mongodb://172.31.126.39:27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.42:5672/fiiipay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Finance_URL" value="http://172.31.126.64/API" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_SecretKey" value="u6lvFYbMPlWf9nIHM5KItktyAl2trgUfWSnVB6qW4Uf6IrU8I0LciAK7ZvaLU5fW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".log" />
      <mimeMap fileExtension=".log" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransferCoinSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9120/TransferCoin.asmx"
                binding="basicHttpBinding"
                bindingConfiguration="TransferCoinSoap"
                contract="FiiiExService.TransferCoinSoap"
                name="TransferCoinSoap"
                xdt:Transform="Replace"
                xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>-->
</configuration>