<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FiiiPay.Framework" version="1.0.6929.29687" targetFramework="net47" />
  <package id="FiiiPay.Framework.Queue" version="1.0.6908.29957" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net47" />
  <package id="Topshelf" version="4.1.0" targetFramework="net462" />
</packages>