<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <!--        Dev                    -->
  <connectionStrings>
    <add name="fiiipay" connectionString="Server=192.168.1.246;Initial Catalog=FiiiPay;Persist Security Info=False;User ID=sa;Password=Q1ng@W075;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="foundation" connectionString="Server=192.168.1.246;Initial Catalog=Foundation;Persist Security Info=False;User ID=sa;Password=Q1ng@W075;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="fiiipay" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=FiiiPay;Persist Security Info=True;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" />
    <add name="foundation" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=Foundation;Persist Security Info=True;User ID=sa;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--        Dev settings           -->
  <appSettings>
    <add key="JpushTag" value="FiiipayDev" />
    <add key="RedisConnectionString" value="192.168.1.87,password=FHqssiR9rfFwPxhJymWYsFo3a8WiKUFS,abortConnect=False" />
    <add key="PushProduction" value="false" />
    <add key="JPush.AppKey" value="d42499948fdf30bf44dae86c" />
    <add key="JPush.MasterSecret" value="b240e07e539ceaa29bb2c45e" />
    <add key="MongoDBConnectionString" value="mongodb://192.168.1.87:27017" />
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@192.168.1.87:5672/fiiipay" />
    <add key="Finance_URL" value="http://47.75.50.90/API" />
    <add key="Finance_ClientKey" value="FiiiPay" />
    <add key="Finance_SecretKey" value="" />
    <add key="MqttBaseUrl" value="http://192.168.1.13:8080" />
    <add key="MqttUsername" value="a4c7f47e31cf5" />
    <add key="MqttPassword" value="Mjg2Mzk0NTg3MzgzMTEzMDM1MTAyMjk2NjE3ODQwODAzODE" />
  </appSettings>
  <!--        Test settings          -->
  <!--<appSettings>
    <add key="JpushTag" value="FiiipayTest" />
    <add key="RedisConnectionString" value="172.31.126.73,password=FHqssiR9rfFwPxhJymWYsFo3a8WiKUFS,abortConnect=False" />
    <add key="PushProduction" value="false" />
    <add key="JPush.AppKey" value="d499a43fa806965f04a7cfae" />
    <add key="JPush.MasterSecret" value="c875fab8133ce18ba4fac2b5" />
    <add key="MongoDBConnectionString" value="mongodb://172.31.126.73:27017" />
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.73:5672/fiiipay" />
    <add key="Finance_URL" value="http://47.75.50.90/API" />
    <add key="Finance_ClientKey" value="FiiiPay" />
    <add key="Finance_SecretKey" value="" />
    <add key="MqttBaseUrl" value="http://172.31.126.73:8080" />
    <add key="MqttUsername" value="eca295be77a0a" />
    <add key="MqttPassword" value="Mjg2MjMxNjMxNjUyNTc0OTA3ODcwNTYxMzY2NDQ5MTkyOTG" />
  </appSettings>-->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="InfoRollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
    </root>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\Error\" />
      <Encoding value="UTF-8" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\Info\" />
      <Encoding value="UTF-8" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>

    <logger name="PreventCall">
      <level value="INFO"></level>
      <appender-ref ref="PreventInfoRollingFileAppender"></appender-ref>
    </logger>
    <appender name="PreventInfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="Log\PreventInfo\" />
      <Encoding value="UTF-8" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  
</configuration>
