<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net47" />
  <package id="bootstrap" version="4.2.1" targetFramework="net47" />
  <package id="DnsClient" version="1.0.7" targetFramework="net47" />
  <package id="FiiiPay.Framework" version="1.0.7074.27146" targetFramework="net47" />
  <package id="FiiiPay.Framework.Cache" version="1.0.7048.25362" targetFramework="net47" />
  <package id="FiiiPay.Framework.MongoDB" version="1.0.7017.18893" targetFramework="net47" />
  <package id="FiiiPay.Framework.Push" version="1.0.6997.19532" targetFramework="net47" />
  <package id="FiiiPay.Framework.Queue" version="1.0.7074.19947" targetFramework="net47" />
  <package id="jQuery" version="3.3.1" targetFramework="net47" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.1" targetFramework="net47" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Modernizr" version="2.8.3" targetFramework="net47" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net47" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net47" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="NPOI" version="2.4.1" targetFramework="net47" />
  <package id="popper.js" version="1.14.3" targetFramework="net47" />
  <package id="QRCoder" version="1.3.5" targetFramework="net47" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net47" />
  <package id="Respond" version="1.4.2" targetFramework="net47" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net47" />
  <package id="sqlSugar" version="4.9.9.11" targetFramework="net47" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net47" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net47" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net47" />
  <package id="WebGrease" version="1.6.0" targetFramework="net47" />
</packages>