<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改
    “connectionString”的值，仅在“Match”定位器找到值为“MyDB”的
    特性“name”时使用“ReleaseSQLServer”。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="bosqlstring" connectionString="Server=172.31.126.72,3280;Initial Catalog=FiiiPayBackOffice;Persist Security Info=False;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="fiiipay" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=FiiiPay;Persist Security Info=True;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="foundation" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=Foundation;Persist Security Info=True;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="fiiiPayenterprise" connectionString="Server=172.31.126.72,3280;Initial Catalog=FiiiPayenterprise;Persist Security Info=False;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RedisConnectionString" value="172.31.126.73,password=FHqssiR9rfFwPxhJymWYsFo3a8WiKUFS,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Blob_URL" value="http://blob-test.fiiipay.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Blob_SecretKey" value="v58IkCB1ZCQoLwFG42dPYk1njozJCmMh17rOaBiWkQLRErONRTNvOUmmBeTguWBw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ArticleImageHandler" value="http://backoffice-test.fiiipay.com/Handlers/BlobHandler.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.73:5672/fiiipay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoDBConnectionString" value="mongodb://172.31.126.73:27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_URL" value="http://foundation-test.fiiipay.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_ClientKey" value="FiiiPay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_SecretKey" value="v58IkCB1ZCQoLwFG42dPYk1njozJCmMh17rOaBiWkQLRErONRTNvOUmmBeTguWBw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Finance_URL" value="http://65.52.166.193/API" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_SecretKey" value="u6lvFYbMPlWf9nIHM5KItktyAl2trgUfWSnVB6qW4Uf6IrU8I0LciAK7ZvaLU5fW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在以下示例中，"Replace" 转换将替换 Web.config 文件的
      整个 <customErrors> 节。
      请注意，由于在 <system.web> 节点下只有一个
       customErrors 节，因此无需使用 "xdt:Locator" 属性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
