<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@192.168.1.87:5672/fiiipay" />
    <add key="RedisConnectionString" value="192.168.1.87,abortConnect=False" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>