<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FiiiPay.Framework" version="1.0.7017.18796" targetFramework="net47" />
  <package id="FiiiPay.Framework.Cache" version="1.0.6918.25486" targetFramework="net47" />
  <package id="FiiiPay.Framework.Queue" version="1.0.6908.29957" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net47" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net47" />
</packages>