<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="fiiipay" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=FiiiPay;Persist Security Info=True;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="foundation" connectionString="Data Source=172.31.126.72,3280;Initial Catalog=Foundation;Persist Security Info=True;User ID=fiiipay;Password=720Hb$n^H!Hpw#DX;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="RedisConnectionString" value="172.31.126.73,password=FHqssiR9rfFwPxhJymWYsFo3a8WiKUFS,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.73:5672/fiiipay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_URL" value="http://foundation-test.fiiipay.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_ClientKey" value="FiiiPay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_SecretKey" value="v58IkCB1ZCQoLwFG42dPYk1njozJCmMh17rOaBiWkQLRErONRTNvOUmmBeTguWBw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_URL" value="http://65.52.166.193/API" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_SecretKey" value="u6lvFYbMPlWf9nIHM5KItktyAl2trgUfWSnVB6qW4Uf6IrU8I0LciAK7ZvaLU5fW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
