@{
    List<string> permissionCodeList = ViewBag.PagePermissions;
    var permission = new GeneralPermission { Create = permissionCodeList.Contains("CryptoCurCreate"), Update = permissionCodeList.Contains("CryptoCurUpdate"), Delete = permissionCodeList.Contains("CryptoCurDelete") };
}

<div class="gridSearchTool">
    <form class="form-inline">
        <div class="form-group">
            <label for="Code">Code</label>
            <input type="text" class="form-control" id="Code" placeholder="Input Code to search">
        </div>
        <button type="button" class="btn btn-primary btn-sm" onclick="Search()">Search</button>
        @if (permission.Create)
        {
            <button type="button" class="btn btn-create" onclick="GoCreate()">&nbsp; Create &nbsp;&nbsp;</button>
        }
    </form>
</div>

<table id="dtGrid"></table>
<div id="dtGridPager"></div>
<script>
    $(function () {
        var colnames = ["Id", "Name", "Code", "Icon", "Withdrawal_Tier", "Options"];
        var colmodels = [
            { name: 'Id', index: 'Id', hidden: true },
            { name: 'Name', index: 'Name', align: 'center', width: 60 },
            { name: 'Code', index: 'Code', align: 'center', width: 60 },
            {
                name: 'Icon', index: 'Icon', width: 60, align: 'center', sortable: false, formatter: function (cellvalue, rowdata, data) {
                    var id = rowdata.rowId;
                    var htmlstr = '<img src="../../Handlers/BlobHandler.ashx?id=' + data.IconURL + '" style="height:30px;width:30px;border:solid 1px #ECECEC;" />';
                    return htmlstr;

                }
            },
            { name: 'Withdrawal_Tier', index: 'Withdrawal_Tier', align: 'center', width: 60 },
            {
                name: 'Options', index: 'Options', width: 60, align: 'center', sortable: false, formatter: function (cellvalue, rowdata, data) {
                    var id = rowdata.rowId;
                    var htmlstr = '';
                    if ("@permission.Update".toLowerCase() === "true") {
                        htmlstr += '<input type="button" class="btn btn-primary btn-xs" value="Edit" onclick="GoUpdate(' + id + ')" style="margin-left:5px;" />';
                    }
                    return htmlstr;
                }
            }
        ];
        $("#dtGrid").BoGrid({
            url: '/CryptoCur/LoadData',
            ExpandColumn: 'PageName',
            colNames: colnames,
            colModel: colmodels,
            pager: '#dtGridPager'
        });
    });

    function GoUpdate(id) {
        $.opentabpage("/CryptoCur/Edit?id=" + id, "Edit Cryptocurrency", "editCryptocurrency" + id);
    }

    function GoCreate() {
        $.opentabpage("/CryptoCur/Edit?id=-1", "Create Cryptocurrency", "addCryptocurrency");
    }

    function Search() {
        var Code = $("#Code").val();
        $("#dtGrid").jqGrid('setGridParam', { postData: { code: Code }, page: 1 }).trigger("reloadGrid");
    }
    function refreshPage() {
        var Code = $("#Code").val();
        $("#dtGrid").jqGrid('setGridParam', { postData: { code: Code } }).trigger("reloadGrid");
    }

</script>