<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <!--<connectionStrings>
    <add name="fiiipay" connectionString="Data Source=rm-3nsbw6ezph23g2b8c.sqlserver.rds.aliyuncs.com;Initial Catalog=FiiiPay;Persist Security Info=True;User ID=fiiipay_api;Password=EYx_N-j3grm7yaQQ;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="foundation" connectionString="Data Source=rm-3nsbw6ezph23g2b8c.sqlserver.rds.aliyuncs.com;Initial Catalog=Foundation;Persist Security Info=True;User ID=fiiipay_api;Password=EYx_N-j3grm7yaQQ;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                   xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>jhs6IsMAKfhkEp4DbnJMQzNlWTFifAXY/+CU7c7Zxg987ifCdpGcmcXZEa89WlkXnlajBfl9znq2vtQBEsiriVDji+3jkFykJaXDeu1kkWvjILw6THOsklg//b8B4YgbBCYWWIsgjy2M2kdeww7iHF8OB/n23LWldclcrzYB/5BW66n5VRO+ad8s0cc2fKA3oCa0U5UAXlBMM6MtUymMjGG5plmOlUDK4Dpf/N0zX0jySb4MxBy2EbGtVFYdkelLVHNkj3PyMnP70wUbH9dRk5aQCoGeWljReeylO7ncjaAIs/5UOoYbukP2IYzUm/Zg2vX7sTyrIMv3SWPBZqyemg==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>oTaWnVH5N0QsFXRG5TS4+BZGQNvnuWA8qXukPao6Rcms0EAQIweBVfrouOuoaRnc5omPhE0XI5DAdjmNEcLy3XWmSIGm14INKRdRMcjmB7pD7eqaARd5co6JxbVCS0wJAw7FEi/A5/6SzI6wxpv9M85EqDMUfsZ/ktHsaBnwU3Sr04bzcxNtpwWbxhWARy5RNo1hN19yDF9fYtmbblY+zBUq0Ews0E/bQIhiV75+YoklWHQWw7xXLfaQZIiG4Qu0lohCAkMv3fKrTqRPCoKXeNHc5Y3LNABKf4CbLK3B7UKKJxH2Fv2k6awms/1W3WONxnqItTWUECMUGDiuiq4Je7ECgx/XrDQp/QxFdYhK5cNXlPH41b/KlEvdTUqKVajyPiL9vgn77+WiYKwiO8zroUy04zVKwvcL2qZlxjpmDVNwZN2/l5cX0/f+J5Nftf0p54S1+HeqpyUx17azc20nK37N6Fhi+VrCbYmMuXo4TIsjtFmhY+GBKWaUeheh7OgJgcXLD1Dr03glt1eqt/OjHeYXPVagvnnnu2sidrI3p9G5CG7mekRIxRKCnXgBvtP9v/s4Lkn9xNVeKipdcVIFxYp8rXkaw5IAuHiOLqosl+k66aX1VKlyQ7dWZCUOspU+CGFFRGuAhYhbjhMthZSMyP15II8KUagFiIaoNccwKFTT9L6yOGQ764CGHyAuuu5hr/O4FYlf1/M=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Send_Sms_Limit" value="20" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test_Sms" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Test_Email" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsProduction" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RedisConnectionString" value="r-3ns10cea37457624.redis.rds.aliyuncs.com,abortConnect=False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FP_EMAIL_API__URL" value="http://172.31.126.37:9000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_URL" value="http://172.31.126.40:8023" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Foundation_SecretKey" value="nHf29ryC31hQXrzsSjM7bDYs8v7AT8n54tl3nHBrpB1TM9HhXJ48hOpQrzy9XrQB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongoDBConnectionString" value="mongodb://172.31.126.39:27017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RabbitMQConnectionString" value="amqp://fiiipay:fp123456%40@172.31.126.42:5672/fiiipay" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_URL" value="http://172.31.126.64/API" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance_SecretKey" value="u6lvFYbMPlWf9nIHM5KItktyAl2trgUfWSnVB6qW4Uf6IrU8I0LciAK7ZvaLU5fW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".log" />
      <mimeMap fileExtension=".log" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>